In [3]:
import pandas as pd
import numpy as np

In [4]:
fsa_df=  pd.read_csv("C:/Users/Reena Shaw/Desktop/A Greener Future - 2019/datasets/External Data Sources/FsaCensusData.csv")

C:\Users\Reena Shaw\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
fsa_df.head()

   censusYear  fsa topic     characteristic    count  countMale  countFemale
0        2016  Y1A   NaN  External migrants    990.0      480.0        515.0
1        2016  Y1A   NaN  Internal migrants   3985.0     1935.0       2050.0
2        2016  Y1A   NaN       Non-migrants   6950.0     3500.0       3450.0
3        2016  Y1A   NaN             Movers  11930.0     5920.0       6010.0
4        2016  Y1A   NaN         Non-movers  13555.0     6660.0       6895.0

In [8]:
fsa_df['topic'].unique() # thus, 'topic' has values, even though it seems to contain only blank_cells.

array([nan, 'Detailed language spoken most often at home',
       'Detailed mother tongue',
       'Detailed other language spoken regularly at home',
       'Household and dwelling characteristics',
       'First official language spoken', 'Family characteristics',
       'Age characteristics', 'Marital status',
       'Population and dwelling counts',
       'Knowledge of official languages'], dtype=object)

In [9]:
fsa_df['censusYear'].unique()

array([2016, 2011], dtype=int64)

In [12]:
fsa_df['censusYear'].value_counts() #to see how many times 'censusYear=2011'; 
# value_counts(): used for a categorical variable

2016    2626371
2011     769899
Name: censusYear, dtype: int64

In [6]:
fsa_df['characteristic'][600:700]

600                                       18 to 64 years
601                                        0 to 17 years
602                                    In the top decile
603                                  In the sixth decile
604                                  In the fifth decile
605                                  In the third decile
606                                 In the second decile
607                                 In the bottom decile
608               In the bottom half of the distribution
609    Total - Economic family income decile group fo...
610    Median after-tax income in 2015 for persons ag...
611    Median total income in 2015 for persons aged 1...
612    Average after-tax income of lone-parent econom...
613    Average total income of lone-parent economic f...
614    Average total income of couple economic famili...
615    Total - Income statistics in 2015 for couple e...
616    Average total income of couple economic famili...
617    Total - Income statistics in 2015 for couple e...
618    Average after-tax income of economic families ...
619    Total - Income statistics in 2015 for economic...
620    Median total income of lone-parent economic fa...
621    Total - Income statistics in 2015 for lone-par...
622    Median total income of couple economic familie...
623    Total - Income statistics in 2015 for couple e...
624    Average family size of couple economic familie...
625    Median after-tax income of couple economic fam...
626    Total - Income statistics in 2015 for couple e...
627    Median total income of economic families in 20...
628                                    $150,000 and over
629                                 $125,000 to $149,999
                             ...
670                                   $20,000 to $29,999
671                                     $5,000 to $9,999
672                        Under $5,000 (including loss)
673                    Percentage with employment income
674                               With employment income
675                            Without employment income
676    Total - Employment income groups in 2015 for t...
677                                   $90,000 to $99,999
678                                     $80,000 and over
679                                   $70,000 to $79,999
680                                   $60,000 to $69,999
681                                   $50,000 to $59,999
682                                   $30,000 to $39,999
683                       Under $10,000 (including loss)
684                                With after-tax income
685                             Without after-tax income
686                                    $150,000 and over
687                                    $100,000 and over
688                                   $80,000 to $89,999
689                                   $70,000 to $79,999
690                                   $60,000 to $69,999
691                                   $40,000 to $49,999
692                                   $30,000 to $39,999
693                                   $20,000 to $29,999
694                       Under $10,000 (including loss)
695                         Percentage with total income
696                                    With total income
697                                 Without total income
698                             Government transfers (%)
699    Average employment income in 2015 for full-yea...
Name: characteristic, Length: 100, dtype: object

In [15]:
# thus, the REgex should either:
#1) start with '$' : ''^\\$'
# 2) start with 'Under $'

#spread():
# fsa_income_values= fsa_income_rows.pivot(index=)

sent= "Australia under $ debt. $2000 expected"

import re
for line in re.findall("under", sent):
    print(line)

In [38]:
#fsa_df.characteristic.search("^Under \$")
fsa_char= fsa_df['characteristic']
unders_income_rows= fsa_char.str.startswith('Under' )  # stores boolean values for each record.
# syntax: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

unders_income_rows
# thus, income_rows stores the indices.
# now, print the entire line having these indices.



#fda_df['characteristic'] is a pd.Series pbject, is not a String/ text file.
#

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
3396240    False
3396241    False
3396242    False
3396243     True
3396244    False
3396245    False
3396246    False
3396247    False
3396248    False
3396249    False
3396250    False
3396251    False
3396252    False
3396253    False
3396254    False
3396255    False
3396256    False
3396257    False
3396258    False
3396259    False
3396260    False
3396261    False
3396262    False
3396263    False
3396264    False
3396265    False
3396266    False
3396267    False
3396268    False
3396269    False
Name: characteristic, Length: 3396270, dtype: bool

In [33]:
unders_income_rows.dtypes #pd.Series

dtype('bool')

In [45]:
unders_income_rows_df= fsa_df.loc[unders_income_rows, ] #loc,and not iloc
# includes: 'under $ 10,000' and 'under 5 years'
# to filter only by $
unders_income_rows_df

,censusYear,fsa,topic,characteristic,count,countMale,countFemale
637,2016,Y1A,NaN,"Under $5,000",105.0,NaN,NaN
653,2016,Y1A,NaN,"Under $5,000",95.0,NaN,NaN
672,2016,Y1A,NaN,"Under $5,000 (including loss)",1875.0,905.0,965.0
683,2016,Y1A,NaN,"Under $10,000 (including loss)",2030.0,975.0,1055.0
694,2016,Y1A,NaN,"Under $10,000 (including loss)",1985.0,955.0,1030.0
1606,2016,Y0B,NaN,"Under $5,000",80.0,NaN,NaN
1628,2016,Y0B,NaN,"Under $5,000 (including loss)",680.0,365.0,310.0
1638,2016,Y0B,NaN,"Under $10,000 (including loss)",685.0,375.0,310.0
2484,2016,Y0A,NaN,"Under $5,000",50.0,NaN,NaN
2508,2016,Y0A,NaN,"Under $5,000 (including loss)",160.0,85.0,80.0
2526,2016,Y0A,NaN,"Under $10,000 (including loss)",215.0,135.0,80.0
3450,2016,X1A,NaN,"Under $5,000 (including loss)",960.0,460.0,495.0
3461,2016,X1A,NaN,"Under $10,000 (including loss)",1580.0,775.0,805.0
3473,2016,X1A,NaN,"Under $10,000 (including loss)",1560.0,765.0,795.0
4249,2016,X0G,NaN,"Under $5,000",5.0,NaN,NaN
4271,2016,X0G,NaN,"Under $5,000 (including loss)",60.0,35.0,25.0
4282,2016,X0G,NaN,"Under $10,000 (including loss)",105.0,60.0,45.0
4294,2016,X0G,NaN,"Under $10,000 (including loss)",100.0,60.0,40.0
5232,2016,X0E,NaN,"Under $10,000 (including loss)",2795.0,1510.0,1285.0
6133,2016,X0C,NaN,"Under $5,000 (including loss)",1100.0,525.0,575.0
6144,2016,X0C,NaN,"Under $10,000 (including loss)",1615.0,915.0,705.0
6994,2016,X0B,NaN,"Under $5,000 (including loss)",895.0,415.0,475.0
7001,2016,X0B,NaN,"Under $10,000 (including loss)",1030.0,625.0,405.0
7011,2016,X0B,NaN,"Under $10,000 (including loss)",1025.0,625.0,400.0
7898,2016,X0A,NaN,"Under $5,000",50.0,NaN,NaN
7915,2016,X0A,NaN,"Under $5,000 (including loss)",1925.0,980.0,950.0
7924,2016,X0A,NaN,"Under $10,000 (including loss)",2690.0,1625.0,1065.0
7933,2016,X0A,NaN,"Under $10,000 (including loss)",2685.0,1625.0,1060.0
8815,2016,V9Z,NaN,"Under $5,000",140.0,NaN,NaN
8847,2016,V9Z,NaN,"Under $10,000 (including loss)",1935.0,775.0,1160.0
...,...,...,...,...,...,...,...
3374881,2016,T2B,NaN,"Under $5,000",160.0,NaN,NaN
3375090,2016,S4N,NaN,"Under $10,000 (including loss)",2665.0,1230.0,1440.0
3375492,2016,L7S,NaN,"Under $10,000 (including loss)",1185.0,490.0,695.0
3375879,2016,H2Y,NaN,"Under $5,000 (including loss)",265.0,145.0,125.0
3375990,2016,E6H,NaN,"Under $10,000 (including loss)",150.0,60.0,95.0
3376887,2016,G3N,NaN,"Under $5,000 (including loss)",560.0,300.0,265.0
3376998,2016,T2H,NaN,"Under $5,000",95.0,NaN,NaN
3377099,2016,N0N,NaN,"Under $10,000 (including loss)",4520.0,1510.0,3015.0
3379664,2016,N1M,NaN,"Under $5,000",60.0,NaN,NaN
3380521,2016,N8Y,NaN,"Under $5,000",170.0,NaN,NaN
3380978,2016,J5T,NaN,"Under $5,000 (including loss)",915.0,440.0,470.0
3381632,2016,J3M,NaN,"Under $10,000 (including loss)",750.0,290.0,460.0
3382324,2016,N2T,NaN,"Under $10,000 (including loss)",2765.0,1150.0,1610.0
3382909,2016,B4C,NaN,"Under $5,000",60.0,NaN,NaN
3382983,2016,V7V,NaN,"Under $5,000",255.0,NaN,NaN
3384469,2016,J3R,NaN,"Under $5,000",55.0,NaN,NaN
3385249,2016,T6X,NaN,"Under $10,000 (including loss)",3265.0,1050.0,2220.0
3385345,2016,N1T,NaN,"Under $5,000",25.0,NaN,NaN
3385686,2016,K7N,NaN,"Under $5,000",10.0,NaN,NaN
3388900,2016,L8M,NaN,"Under $5,000 (including loss)",1095.0,565.0,535.0
3389407,2016,M5E,NaN,"Under $5,000 (including loss)",560.0,265.0,300.0
3390107,2016,V4T,NaN,"Under $10,000 (including loss)",2990.0,1150.0,1840.0
3391221,2016,A0B,NaN,"Under $5,000",50.0,NaN,NaN
3392581,2016,A1X,NaN,"Under $5,000",25.0,NaN,NaN
3393323,2016,J0B,NaN,"Under $10,000 (including loss)",5515.0,2315.0,3205.0
3393993,2016,H4S,NaN,"Under $5,000",0.0,NaN,NaN
3394029,2016,L9W,NaN,"Under $10,000 (including loss)",4650.0,1870.0,2780.0
3394968,2016,G1N,NaN,"Under $5,000",60.0,NaN,NaN
3395386,2016,J7Y,NaN,"Under $10,000 (including loss)",2260.0,930.0,1335.0
3396243,2016,G1H,NaN,"Under $10,000 (including loss)",2245.0,920.0,1325.0

In [47]:
fsa_char= fsa_df['characteristic']
dollar_income_rows= fsa_char.str.startswith('$' )  # stores boolean values for each record.
# syntax: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

#unders_income_rows  # works
dollar_income_rows_df =fsa_df.loc[dollar_income_rows, ] # 114410 *7
dollar_income_rows_df

,censusYear,fsa,topic,characteristic,count,countMale,countFemale
628,2016,Y1A,NaN,"$150,000 and over",1595.0,NaN,NaN
629,2016,Y1A,NaN,"$125,000 to $149,999",1185.0,NaN,NaN
630,2016,Y1A,NaN,"$100,000 to $124,999",1475.0,NaN,NaN
631,2016,Y1A,NaN,"$80,000 to $89,999",755.0,NaN,NaN
632,2016,Y1A,NaN,"$60,000 to $69,999",865.0,NaN,NaN
633,2016,Y1A,NaN,"$35,000 to $39,999",405.0,NaN,NaN
634,2016,Y1A,NaN,"$25,000 to $29,999",380.0,NaN,NaN
635,2016,Y1A,NaN,"$15,000 to $19,999",365.0,NaN,NaN
636,2016,Y1A,NaN,"$5,000 to $9,999",80.0,NaN,NaN
639,2016,Y1A,NaN,"$200,000 and over",1125.0,NaN,NaN
640,2016,Y1A,NaN,"$125,000 to $149,999",1145.0,NaN,NaN
641,2016,Y1A,NaN,"$100,000 to $124,999",1340.0,NaN,NaN
642,2016,Y1A,NaN,"$90,000 to $99,999",665.0,NaN,NaN
643,2016,Y1A,NaN,"$80,000 to $89,999",720.0,NaN,NaN
644,2016,Y1A,NaN,"$70,000 to $79,999",690.0,NaN,NaN
645,2016,Y1A,NaN,"$60,000 to $69,999",705.0,NaN,NaN
646,2016,Y1A,NaN,"$50,000 to $59,999",635.0,NaN,NaN
647,2016,Y1A,NaN,"$45,000 to $49,999",315.0,NaN,NaN
648,2016,Y1A,NaN,"$40,000 to $44,999",340.0,NaN,NaN
649,2016,Y1A,NaN,"$35,000 to $39,999",345.0,NaN,NaN
650,2016,Y1A,NaN,"$25,000 to $29,999",340.0,NaN,NaN
651,2016,Y1A,NaN,"$20,000 to $24,999",435.0,NaN,NaN
652,2016,Y1A,NaN,"$15,000 to $19,999",355.0,NaN,NaN
665,2016,Y1A,NaN,"$90,000 to $99,999",945.0,510.0,430.0
666,2016,Y1A,NaN,"$80,000 and over",4230.0,2515.0,1715.0
667,2016,Y1A,NaN,"$50,000 to $59,999",1480.0,675.0,805.0
668,2016,Y1A,NaN,"$40,000 to $49,999",1535.0,730.0,810.0
669,2016,Y1A,NaN,"$30,000 to $39,999",1615.0,770.0,845.0
670,2016,Y1A,NaN,"$20,000 to $29,999",1650.0,750.0,900.0
671,2016,Y1A,NaN,"$5,000 to $9,999",1140.0,505.0,635.0
...,...,...,...,...,...,...,...
3395191,2016,B2H,NaN,"$80,000 to $89,999",355.0,NaN,NaN
3395211,2016,K1T,NaN,"$90,000 to $99,999",530.0,330.0,200.0
3395248,2016,G5X,NaN,"$30,000 to $39,999",785.0,405.0,380.0
3395308,2016,L9K,NaN,"$25,000 to $29,999",80.0,NaN,NaN
3395314,2016,V4Z,NaN,"$5,000 to $9,999",10.0,NaN,NaN
3395320,2016,E6L,NaN,"$45,000 to $49,999",125.0,NaN,NaN
3395364,2016,T0K,NaN,"$15,000 to $19,999",495.0,NaN,NaN
3395366,2016,E7L,NaN,"$100,000 and over",430.0,NaN,NaN
3395457,2016,T0V,NaN,"$35,000 to $39,999",NaN,NaN,NaN
3395474,2016,B2G,NaN,"$100,000 and over",585.0,470.0,115.0
3395528,2016,V0L,NaN,"$50,000 to $59,999",115.0,80.0,35.0
3395541,2016,K8H,NaN,"$100,000 to $124,999",850.0,NaN,NaN
3395560,2016,E1V,NaN,"$70,000 to $79,999",410.0,215.0,195.0
3395574,2016,B3R,NaN,"$50,000 to $59,999",455.0,250.0,205.0
3395655,2016,H4R,NaN,"$150,000 to $199,999",885.0,NaN,NaN
3395666,2016,H7N,NaN,"$70,000 to $79,999",1285.0,NaN,NaN
3395696,2016,N6C,NaN,"$25,000 to $29,999",650.0,NaN,NaN
3395705,2016,T6M,NaN,"$30,000 to $39,999",2155.0,860.0,1295.0
3395718,2016,N0G,NaN,"$40,000 to $44,999",1705.0,NaN,NaN
3395747,2016,J0M,NaN,"$40,000 to $49,999",1130.0,490.0,640.0
3395826,2016,L7T,NaN,"$80,000 to $89,999",600.0,335.0,265.0
3395898,2016,T3C,NaN,"$100,000 and over",4165.0,NaN,NaN
3396001,2016,H4K,NaN,"$60,000 to $69,999",405.0,190.0,210.0
3396026,2016,L4V,NaN,"$25,000 to $29,999",NaN,NaN,NaN
3396147,2016,N2L,NaN,"$80,000 and over",2500.0,1675.0,820.0
3396169,2016,J8P,NaN,"$60,000 to $69,999",1310.0,NaN,NaN
3396213,2016,R2R,NaN,"$80,000 and over",235.0,155.0,75.0
3396246,2016,L6V,NaN,"$80,000 to $89,999",1070.0,NaN,NaN
3396249,2016,S6X,NaN,"$40,000 to $49,999",90.0,25.0,65.0
3396265,2016,L2A,NaN,"$60,000 to $69,999",425.0,285.0,135.0

In [50]:
# join the 2 income df's
income_dfs_list= [unders_income_rows_df, dollar_income_rows_df]
income_df= pd.concat(income_dfs_list)
#income_df.head()
income_df.shape # 122200*7

(122200, 7)

In [51]:
#now, transpose income_df:
i_p= income_df.pivot(index='fsa', columns="characteristic", values='count')

ValueError: Index contains duplicate entries, cannot reshape